/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Literata:wght@300&family=Montserrat:wght@700&family=Quicksand&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400&display=swap');

html {
  width: 100%;
  background-color: #282c34;
}

/* Xaverian Blue is #18457f */
/* Using #183280
/* Xaverian Gold is #cda140*/
/* Team Yellow  f9e505 */

.header_w_menu {
	/*position: absolute; */
	position: fixed;
	top: 0;
	left:  0;
	width: 100%;
	margin: 0;
	padding: 0;
}

div#text_section {
	margin:  0;
	padding:  0;
	padding-top:  20%;
	overflow:  auto;
}

.drop_menu_h{
	margin: 0;
	text-align: center;
	}

.dm_h1 {
	font-size:  2.75em;
	padding-top: 5%;
	font-family: 'Montserrat Subrayada', sans-serif;
	background-color: #183280;
	color: #cda140;
	margin: 0;
	text-align: center;
}

.dm_h3 {
	font-family: 'Montserrat Subrayada', sans-serif;
	text-align: center;
	background-color: #183280;
	padding-top: 0.5%;
	color: #cda140;
}


.dm_h2 {
	border-top:  4px solid #cda140;
	background-color: #f9e505;
	color: #183280;
	border-bottom:  4px solid #cda140;
}



li.dropdown {
	display: inline-block;
	width: 19%;
	font-size: 1.5em;
	position: relative;
}


ul.menu_bar {
	padding-left:  7%;
	list-style-type: none;
}