/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Literata:wght@300&family=Montserrat:wght@700&family=Quicksand&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400&display=swap');

:root {
	--XaverianBlue: #183280;
	--XaverianGold: #cda140;
	--XaverianYellow: #f9e505;
}
/* Xaverian Blue is #18457f */
/* Using var(--XaverianBlue)
/* Xaverian Gold is var(--XaverianGold)*/
/* Team Yellow  f9e505 */

.header_w_menu {
	/*position: absolute; */
	position: fixed;
	top: 0;
	left:  0;
	width: 100%;
	margin: 0;
	padding: 0;
}

div#text_section {
	margin:  0;
	padding:  0;
	padding-top:  20%;
	overflow:  auto;
}

.drop_menu_h{
	margin: 0;
	text-align: center;
	}

.dm_h1 {
	font-size:  2.75em;
	padding-top: 2%;
	font-family: 'Montserrat Subrayada', sans-serif;
	background-color: var(--XaverianBlue);
	color: var(--XaverianGold);
	margin: 0;
	text-align: center;
}

.dm_h3 {
	font-family: 'Montserrat Subrayada', sans-serif;
	text-align: center;
	background-color: var(--XaverianBlue);
	padding-top: 0.5%;
	color: var(--XaverianGold);
}


.dm_h2 {
	border-top:  4px solid var(--XaverianGold);
	background-color: var(--XaverianYellow);
	color: var(--XaverianBlue);
	border-bottom:  4px solid var(--XaverianGold);
}



li.dropdown {
	display: inline-block;
	width: 19%;
	font-size: 1.5em;
	position: relative;
    text-align: center;
}


ul.menu_bar {
	padding-left:  7%;
	list-style-type: none;
    width: pageWidth;
}

#logoContainer {
	display: flex;
	position: absolute;
}

#hawkLogo {
	width: 13%;
	height: 13%;
	background-color: var(--XaverianBlue);
	margin-left: 2%;
}